<script>
const api_url = "http://127.0.0.1:5000/users"


function loadData(records=[]){
        var table_data="";
        for(let i=0;i<records.length;i++){
            table_data += `<tr>`;
            table_data +=`<td>${records[i][0]}`;
            table_data +=`<td>${records[i][1]}`;
            table_data +=`<td>${records[i][2]}`;
            table_data +=`<td>${records[i][3]}`;
            table_data += `<\tr>`;

        }
        console.log(table_data)
        document.getElementById("tbody").innerHTML=table_data;


}

function getData(){
        fetch(api_url)
        .then((response) => response.json())
        .then((data)=>{

            console.table(data)
            loadData(data);



        });



}
getData();

</script>

<table border=1px>
    <thead><th>Sr No
    </th>
    <th>Name</th>
    <th>Age</th>
    <th>City</th>
</thead>
<tbody id="tbody">

</tbody>
</tr>

</table>

